<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ContactesDbCnn" connectionString="Data Source=PERSONLAPW11\SQL2022V2;Initial Catalog=Contactes;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings> 
</configuration>